@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>
<h2>SmartHome App</h2>
<p>Наше приложение собирает следующие данные:</p>

<ul>
    <li>Информацию о пользователях</li>
    <li>Информацию об устройствах вашего умного дома</li>
    <li>Информацию о местоположнии устройств в доме</li>
</ul>
<p>Мы обязуемся сохранять конфиденциальность ваших данных.</p>